$buttonOrinigalPadding: 24px;
$buttonTextPadding: 12px;

@mixin _root {
  position: relative;
  display: inline-flex;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  --md-icon-size: 16px;
}

@mixin _button {
  padding: 0 ($buttonOrinigalPadding - 8px);
  position: relative;
  box-sizing: border-box;
  width: var(--md-button-width, auto);
  height: var(--md-button-height, 40px);
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: var(--md-button-justify-content, center);
  color: rgb(var(--md-sys-color-on-primary));
  font-family: var(--md-sys-typo-font);
  font-weight: var(--md-sys-typo-button-weight);
  font-size: var(--md-sys-typo-button-size);
  line-height: var(--md-sys-typo-button-line-height);
  letter-spacing: var(--md-sys-typo-button-tracking);
  text-decoration: none;
  background-color: rgb(var(--md-sys-color-primary));
  border: 0;
  border-radius: 20px;
  outline: 0;
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
  overflow: visible;
  transition: 240ms cubic-bezier(0.4, 0, 0.2, 1);
  appearance: none;
}

@mixin _tonal {
  color: rgb(var(--md-sys-color-on-secondary-container));
  background: rgb(var(--md-sys-color-secondary-container));
}

@mixin _elevated {
  color: rgb(var(--md-sys-color-primary));
  background-color: rgb(var(--md-sys-color-surface));
  box-shadow: var(--md-sys-elev-shadow-1);
}

@mixin _outlined {
  padding: 0 ($buttonOrinigalPadding - 9px);
  color: rgb(var(--md-sys-color-important-color, var(--md-sys-color-primary)));
  background-color: rgb(var(--md-sys-color-surface));
  border: 1px solid rgb(var(--md-sys-color-outline));
  box-shadow: none;
}

@mixin _outlinedDisabled {
  color: rgba(var(--md-sys-color-on-surface), 0.38);
  border: 1px solid rgba(var(--md-sys-color-on-surface), 0.12);
}

@mixin _text {
  padding: 0 ($buttonTextPadding - 8px);
  color: rgb(var(--md-sys-color-important-color, var(--md-sys-color-primary)));
  background: transparent;
  box-shadow: none;
}

@mixin _filledTonalElevatedDisabled {
  color: rgba(var(--md-sys-color-on-surface), 0.38);
  background-color: rgba(var(--md-sys-color-on-surface), 0.12);
  cursor: default;
  box-shadow: none;
}

:host {
  @include _root;
}

:host([disabled]) {
  pointer-events: none;
}

.md-button {
  @include _button;

  & * {
    pointer-events: none;
  }

  .md-button__label {
    margin: 0 8px;
  }

  &:hover {
    box-shadow: var(--md-sys-elev-shadow-2);
  }
  &:focus-visible,
  &:active {
    box-shadow: none;
  }
}
@import '../../scss-mixins/state-layer.scss';
@include state-layer('.md-button', '240ms');

:host([tonal]) .md-button {
  @include _tonal;
}

:host([elevated]) .md-button {
  @include _elevated;

  &:hover {
    box-shadow: var(--md-sys-elev-shadow-2);
  }
  &:focus-visible,
  &:active {
    box-shadow: var(--md-sys-elev-shadow-1);
  }
}

.md-button:disabled,
:host([tonal]) .md-button:disabled,
:host([elevated]) .md-button:disabled {
  @include _filledTonalElevatedDisabled;
}

:host([outlined]) .md-button {
  @include _outlined;

  &:focus-visible {
    border-color: rgb(var(--md-sys-color-primary));
  }
  &:active {
    border-color: rgb(var(--md-sys-color-outline));
  }
  &:disabled {
    @include _outlinedDisabled;
  }
  md-ripple,
  &::before {
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
  }
}

:host([text]) .md-button {
  @include _text;

  ::slotted([slot="leading-icon"]) {
    margin-left: 8px;
  }
  ::slotted([slot="trailing-icon"]) {
    margin-right: 8px;
  }

  &:disabled {
    color: rgba(var(--md-sys-color-on-surface), 0.38);
  }
}
