:host {
  position: relative;
  display: flex;
  flex-shrink: 0;
  outline: 0;
  height: 48px;
}

:host([disabled]) {
  pointer-events: none;
}

.md-menu__item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
  color: rgb(var(--md-sys-color-on-surface-variant));
  font-family: var(--md-sys-typo-font);
  font-weight: var(--md-sys-typo-button-weight);
  font-size: var(--md-sys-typo-button-size);
  line-height: var(--md-sys-typo-button-line-height);
  letter-spacing: var(--md-sys-typo-button-tracking);
  background-color: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  & * {
    pointer-events: none;
  }

  [name='before'] {
    margin-left: 16px;
    display: var(--md-menu-item-before-display, inline-flex);
    justify-content: center;
    width: 24px;
    height: 24px;
  }
  [name='label'] {
    display: inline-flex;
    white-space: nowrap;
    margin-left: 20px;
  }
  [name='after'] {
    display: inline-flex;
    margin-right: 20px;
    align-items: center;
  }

  .md-menu__item__spacer {
    flex: 1;
    min-width: 80px;
  }
}
@import '../../scss-mixins/state-layer.scss';
@include state-layer('.md-menu__item', '0ms', true);
