@import '../../scss-mixins/custom-scrollbar.scss';
@include custom-scrollbar;

:host {
  --md-icon-size: 24px;
  --md-menu-padding: 16px;
  --md-divider-margin: 7.5px 0 !important;
  --md-divider-color: rgb(var(--md-sys-color-surface-variant)) !important;
  z-index: 1000;
}

:host([open]:not([sub])) .md-menu__layer {
  visibility: visible;
}
:host([no-icon]) {
  --md-menu-item-before-display: none;
}
:host([open]) .md-menu {
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1, 1);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
:host([dense]) ::slotted(md-menu-item) {
  height: 36px;
}
:host([fast]) .md-menu {
  transition-duration: 0ms;
  transition-delay: 0ms !important;
}

.md-menu__layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: auto;
  z-index: 1000;
  -webkit-tap-highlight-color: transparent;
  visibility: hidden;
}
.md-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 8px 0;
  width: max-content;
  max-height: 100vh;
  overflow-y: auto;
  background: var(--md-sys-elev-surface-2);
  box-shadow: var(--md-sys-elev-shadow-2);
  border-radius: 4px;
  transition: transform 0s cubic-bezier(0.4, 0, 0.2, 1) 150ms, opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0.9, 0.9);
  transform-origin: top left;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  box-sizing: border-box;
  z-index: 1000;

  &.md-menu--bottom {
    transform-origin: bottom left;
  }
  &.md-menu--right {
    transform-origin: top right;
  }
  &.md-menu--bottom.md-menu--right {
    transform-origin: bottom right;
  }
}
