:host {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-tap-highlight-color: transparent;
  --md-fab-size: 56px;
  --md-icon-size: 24px;
  --md-fab-border-radius: 16px;
  --md-fab-shadow-enabled: var(--md-elevation-shadow-3);
  --md-fab-shadow-hovered: var(--md-elevation-shadow-4);
  --md-fab-shadow-focused: var(--md-elevation-shadow-3);
  --md-fab-shadow-pressed: var(--md-elevation-shadow-3);
}
:host([lower]) {
  --md-fab-shadow-enabled: var(--md-elevation-shadow-1);
  --md-fab-shadow-hovered: var(--md-elevation-shadow-2);
  --md-fab-shadow-focused: var(--md-elevation-shadow-1);
  --md-fab-shadow-pressed: var(--md-elevation-shadow-1);
}
:host([lowest]) {
  --md-fab-shadow-enabled: var(--md-elevation-shadow-0);
  --md-fab-shadow-hovered: var(--md-elevation-shadow-1);
  --md-fab-shadow-focused: var(--md-elevation-shadow-0);
  --md-fab-shadow-pressed: var(--md-elevation-shadow-0);
}
:host([small]) {
  --md-fab-size: 40px;
  --md-fab-border-radius: 12px;
}
:host([large]) {
  --md-fab-size: 96px;
  --md-icon-size: 36px;
  --md-fab-border-radius: 28px;
}
.md3-fab {
  padding: 0 calc((var(--md-fab-size) - var(--md-icon-size)) / 2);
  position: relative;
  box-sizing: border-box;
  height: var(--md-fab-size, 56px);
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--md-t-font-family);
  color: rgb(var(--md-sys-color-on-primary-container));
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  font-weight: calc(var(--md-t-font-base-weight) + 500);
  line-height: 1.428571428571429;
  letter-spacing: 0.1px;
  text-decoration: none;
  background-color: rgb(var(--md-sys-color-primary-container));
  box-shadow: var(--md-fab-shadow-enabled);
  border: 0;
  border-radius: var(--md-fab-border-radius, 16px);
  outline: 0;
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
  overflow: visible;
  transition: 240ms cubic-bezier(0.4, 0, 0.2, 1);
  appearance: none;

  & * {
    pointer-events: none;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: currentColor;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 240ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
  }
}
@media screen and (min-width: 1240px) {
  .md3-fab:hover {
    box-shadow: var(--md-fab-shadow-hovered);
  }
  .md3-fab:hover::before {
    opacity: 0.08;
  }
}
:host(.focus-visible) {
  .md3-fab {
    box-shadow: var(--md-fab-shadow-focused);
  }
  .md3-fab::before {
    opacity: 0.12;
  }
}
.md3-fab:active {
  box-shadow: var(--md-fab-shadow-pressed);
}
.md3-fab:active::before {
  opacity: 0;
  transition: 0ms;
}
.md3-fab:disabled md3-ripple,
.md3-fab:disabled::before {
  display: none;
}
:host([surface]) .md3-fab {
  color: rgb(var(--md-sys-color-primary));
  background-color: rgb(var(--md-sys-color-surface));
}
:host([secondary]) .md3-fab {
  color: rgb(var(--md-sys-color-on-secondary-container));
  background-color: rgb(var(--md-sys-color-secondary-container));
}
:host([tertiary]) .md3-fab {
  color: rgb(var(--md-sys-color-on-tertiary-container));
  background-color: rgb(var(--md-sys-color-tertiary-container));
}
:host([extended]) ::slotted(md-icon) {
  margin-right: 8px;
}
:host([extended]) ::slotted(md-icon[before]) {
  margin-left: 8px;
  margin-right: 0;
}
