:host {
  position: relative;
  display: inline-flex;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  --md-fab-size: 56px;
  --md-icon-size: 24px;
  --md-fab-border-radius: 16px;
  --md-fab-shadow-enabled: var(--md-sys-elev-shadow-3);
  --md-fab-shadow-hovered: var(--md-sys-elev-shadow-4);
  --md-fab-shadow-focused: var(--md-sys-elev-shadow-3);
  --md-fab-shadow-pressed: var(--md-sys-elev-shadow-3);
}
:host([lower]) {
  --md-fab-shadow-enabled: var(--md-sys-elev-shadow-1);
  --md-fab-shadow-hovered: var(--md-sys-elev-shadow-2);
  --md-fab-shadow-focused: var(--md-sys-elev-shadow-1);
  --md-fab-shadow-pressed: var(--md-sys-elev-shadow-1);
}
:host([lowest]) {
  --md-fab-shadow-enabled: var(--md-sys-elev-shadow-0);
  --md-fab-shadow-hovered: var(--md-sys-elev-shadow-1);
  --md-fab-shadow-focused: var(--md-sys-elev-shadow-0);
  --md-fab-shadow-pressed: var(--md-sys-elev-shadow-0);
}
:host([small]) {
  --md-fab-size: 40px;
  --md-fab-border-radius: 12px;
}
:host([large]) {
  --md-fab-size: 96px;
  --md-icon-size: 36px;
  --md-fab-border-radius: 28px;
}

:host([disabled]) {
  pointer-events: none;
}

.md-fab {
  padding: 0 calc((var(--md-fab-size) - var(--md-icon-size)) / 2);
  position: relative;
  box-sizing: border-box;
  height: var(--md-fab-size, 56px);
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--md-sys-typo-font);
  color: rgb(var(--md-sys-color-on-primary-container));
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: var(--md-sys-typo-button-weight);
  font-size: var(--md-sys-typo-button-size);
  line-height: var(--md-sys-typo-button-line-height);
  letter-spacing: var(--md-sys-typo-button-tracking);
  text-decoration: none;
  background-color: rgb(var(--md-sys-color-primary-container));
  box-shadow: var(--md-fab-shadow-enabled);
  border: 0;
  border-radius: var(--md-fab-border-radius, 16px);
  outline: 0;
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
  overflow: visible;
  transition: 240ms cubic-bezier(0.4, 0, 0.2, 1);
  appearance: none;

  & * {
    pointer-events: none;
  }

  &:hover {
    box-shadow: var(--md-fab-shadow-hovered);
  }

  &:focus-visible {
    box-shadow: var(--md-fab-shadow-focused);
  }

  &:active {
    box-shadow: var(--md-fab-shadow-pressed);
  }
}
@import '../../scss-mixins/state-layer.scss';
@include state-layer('.md-fab', 240ms);

.md-fab:disabled md-ripple,
.md-fab:disabled::before {
  display: none;
}
:host([surface]) .md-fab {
  color: rgb(var(--md-sys-color-primary));
  background-color: rgb(var(--md-sys-color-surface));
}
:host([secondary]) .md-fab {
  color: rgb(var(--md-sys-color-on-secondary-container));
  background-color: rgb(var(--md-sys-color-secondary-container));
}
:host([tertiary]) .md-fab {
  color: rgb(var(--md-sys-color-on-tertiary-container));
  background-color: rgb(var(--md-sys-color-tertiary-container));
}
:host([extended]) ::slotted(md-icon) {
  margin-right: 8px;
}
:host([extended]) ::slotted(md-icon[before]) {
  margin-left: 8px;
  margin-right: 0;
}
