:host {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border-radius: 16px;
  --md-switch-thumb-position: translate(0, 0);
  --md-switch-thumb-size: 16;
}

.md-switch {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  width: 52px;
  height: 32px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 16px;

  & * {
    pointer-events: none;
  }

  .md-switch__track {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 2px solid rgb(var(--md-sys-color-outline));
    border-radius: inherit;
    transition: 120ms cubic-bezier(0.4, 0, 0.2, 1);

    .md-switch__thumb {
      position: absolute;
      margin-left: 6px;
      width: 16px;
      height: 16px;
      background-color: rgb(var(--md-sys-color-outline));
      border-radius: 50%;
      transform: var(--md-switch-thumb-position) scale(calc(var(--md-switch-thumb-size) / 16));
      transform-origin: center center;
      transition: 120ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .md-switch__icons {
      position: absolute;
      margin-left: -2px;
      width: 16px;
      height: 16px;
      transition: 120ms cubic-bezier(0.4, 0, 0.2, 1);

      :first-child {
        position: absolute;
        opacity: 0;
        color: rgb(var(--md-sys-color-surface-variant));
        transition: opacity 120ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      :last-child {
        position: absolute;
        opacity: 0;
        color: rgb(var(--md-sys-color-on-primary-container));
        transition: opacity 120ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
    .md-switch__ripple {
      position: absolute;
      margin-left: -6px;
      width: 40px;
      height: 40px;
      background-color: rgb(var(--md-sys-color-on-surface-variant));
      transition: 120ms cubic-bezier(0.4, 0, 0.2, 1);
      transform: scale(0.4);
      transform-origin: center center;
      border-radius: 50%;
      pointer-events: none;
      overflow: hidden;
      opacity: 0;
    }
  }

  // hover / focus
  &:not(:disabled):hover,
  &:not(:disabled):focus-visible {
    .md-switch__thumb {
      background-color: rgb(var(--md-sys-color-on-surface-variant));
    }
    .md-switch__ripple {
      transform: scale(1);
      opacity: 0.12;
    }

    &.md-switch--checked .md-switch__ripple {
      transform: scale(1) translate(20px, 0);
      opacity: 0.12;
    }
  }

  // disabled
  &:disabled {
    cursor: default;

    .md-switch__track {
      border-color: rgba(var(--md-sys-color-on-surface), 0.12);

      .md-switch__thumb {
        background-color: rgba(var(--md-sys-color-on-surface), 0.38);
      }
    }
  }
}
:host([checked]) {
  --md-switch-thumb-position: translate(20px, 0);
  --md-switch-thumb-size: 24;

  .md-switch__track {
    border-color: rgb(var(--md-sys-color-primary));
    background-color: rgb(var(--md-sys-color-primary));

    .md-switch__thumb {
      background-color: rgb(var(--md-sys-color-on-primary));
    }
    .md-switch__icons {
      transform: translate(20px, 0);
    }
    .md-switch__ripple {
      transform-origin: center right;
      transform: scale(0.4) translate(20px, 0);
    }
  }

  :disabled {
    .md-switch__track {
      border-color: transparent;
      background-color: rgba(var(--md-sys-color-on-surface), 0.12);

      .md-switch__thumb {
        background-color: rgba(var(--md-sys-color-on-surface), 0.38);
        transform: translate(18px, 0) scale(1.25);
      }
    }
  }
}

.md-switch:active:not(:disabled) {
  --md-switch-thumb-size: 28 !important;
}

.md-switch__input {
  display: none;
  visibility: hidden;
}

:host([icon='checked'][checked]) {
  .md-switch__icons {
    :last-child {
      opacity: 1;
    }
  }
}
:host([icon='all']) {
  --md-switch-thumb-size: 24;

  .md-switch .md-switch__icons {
    :first-child {
      opacity: 1;
    }
  }
}
:host([icon='all'][checked]) {
  .md-switch__icons {
    :first-child {
      opacity: 0;
    }
    :last-child {
      opacity: 1;
    }
  }
}
