body {
  font-family: var(--md-sys-typo-font);
}
::selection {
  background-color: rgba(var(--md-sys-color-primary), 0.24);
}

:root {
  --md-sys-typo-font: 'Roboto Flex', 'Noto Sans SC', 'Sarasa UI SC', sans-serif;
  --md-sys-typo-display1-weight: 400;
  --md-sys-typo-display1-size: 64px;
  --md-sys-typo-display1-line-height: 76px;
  --md-sys-typo-display1-tracking: -0.5px;
  --md-sys-typo-display2-weight: 400;
  --md-sys-typo-display2-size: 57px;
  --md-sys-typo-display2-line-height: 64px;
  --md-sys-typo-display2-tracking: -0.25px;
  --md-sys-typo-display3-weight: 400;
  --md-sys-typo-display3-size: 45px;
  --md-sys-typo-display3-line-height: 52px;
  --md-sys-typo-display3-tracking: 0px;
  --md-sys-typo-headline1-weight: 400;
  --md-sys-typo-headline1-size: 36px;
  --md-sys-typo-headline1-line-height: 44px;
  --md-sys-typo-headline1-tracking: 0px;
  --md-sys-typo-headline2-weight: 400;
  --md-sys-typo-headline2-size: 32px;
  --md-sys-typo-headline2-line-height: 40px;
  --md-sys-typo-headline2-tracking: 0px;
  --md-sys-typo-headline3-weight: 400;
  --md-sys-typo-headline3-size: 28px;
  --md-sys-typo-headline3-line-height: 36px;
  --md-sys-typo-headline3-tracking: 0px;
  --md-sys-typo-headline4-weight: 400;
  --md-sys-typo-headline4-size: 24px;
  --md-sys-typo-headline4-line-height: 32px;
  --md-sys-typo-headline4-tracking: 0px;
  --md-sys-typo-headline5-weight: 400;
  --md-sys-typo-headline5-size: 22px;
  --md-sys-typo-headline5-line-height: 28px;
  --md-sys-typo-headline5-tracking: 0px;
  --md-sys-typo-headline6-weight: 400;
  --md-sys-typo-headline6-size: 18px;
  --md-sys-typo-headline6-line-height: 24px;
  --md-sys-typo-headline6-tracking: 0px;
  --md-sys-typo-subhead1-weight: 500;
  --md-sys-typo-subhead1-size: 16px;
  --md-sys-typo-subhead1-line-height: 24px;
  --md-sys-typo-subhead1-tracking: 0.1px;
  --md-sys-typo-subhead2-weight: 500;
  --md-sys-typo-subhead2-size: 14px;
  --md-sys-typo-subhead2-line-height: 20px;
  --md-sys-typo-subhead2-tracking: 0.1px;
  --md-sys-typo-body1-weight: 400;
  --md-sys-typo-body1-size: 16px;
  --md-sys-typo-body1-line-height: 24px;
  --md-sys-typo-body1-tracking: 0.5px;
  --md-sys-typo-body2-weight: 400;
  --md-sys-typo-body2-size: 14px;
  --md-sys-typo-body2-line-height: 20px;
  --md-sys-typo-body2-tracking: 0.25px;
  --md-sys-typo-caption-weight: 400;
  --md-sys-typo-caption-size: 12px;
  --md-sys-typo-caption-line-height: 16px;
  --md-sys-typo-caption-tracking: 0.4px;
  --md-sys-typo-button-weight: 500;
  --md-sys-typo-button-size: 14px;
  --md-sys-typo-button-line-height: 20px;
  --md-sys-typo-button-tracking: 0.1px;
  --md-sys-typo-overline-weight: 500;
  --md-sys-typo-overline-size: 12px;
  --md-sys-typo-overline-line-height: 16px;
  --md-sys-typo-overline-tracking: 0.5px;
}
