:host {
  position: relative;
  box-sizing: border-box;
  display: block;
  font-family: var(--md-sys-typo-font);
}

:host([display-large]) {
  font-weight: var(--md-sys-typo-display2-weight);
  font-size: var(--md-sys-typo-display2-size);
  line-height: var(--md-sys-typo-display2-line-height);
  letter-spacing: var(--md-sys-typo-display2-tracking);
}

:host([display-medium]) {
  font-weight: var(--md-sys-typo-display3-weight);
  font-size: var(--md-sys-typo-display3-size);
  line-height: var(--md-sys-typo-display3-line-height);
  letter-spacing: var(--md-sys-typo-display3-tracking);
}

:host([display-small]) {
  font-weight: var(--md-sys-typo-headline1-weight);
  font-size: var(--md-sys-typo-headline1-size);
  line-height: var(--md-sys-typo-headline1-line-height);
  letter-spacing: var(--md-sys-typo-headline1-tracking);
}

:host([headline-large]) {
  font-weight: var(--md-sys-typo-headline2-weight);
  font-size: var(--md-sys-typo-headline2-size);
  line-height: var(--md-sys-typo-headline2-line-height);
  letter-spacing: var(--md-sys-typo-headline2-tracking);
}

:host([headline-medium]) {
  font-weight: var(--md-sys-typo-headline3-weight);
  font-size: var(--md-sys-typo-headline3-size);
  line-height: var(--md-sys-typo-headline3-line-height);
  letter-spacing: var(--md-sys-typo-headline3-tracking);
}

:host([headline-small]) {
  font-weight: var(--md-sys-typo-headline4-weight);
  font-size: var(--md-sys-typo-headline4-size);
  line-height: var(--md-sys-typo-headline4-line-height);
  letter-spacing: var(--md-sys-typo-headline4-tracking);
}

:host([title-large]) {
  font-weight: var(--md-sys-typo-headline5-weight);
  font-size: var(--md-sys-typo-headline5-size);
  line-height: var(--md-sys-typo-headline5-line-height);
  letter-spacing: var(--md-sys-typo-headline5-tracking);
}

:host([headline6]) {
  font-weight: var(--md-sys-typo-headline6-weight);
  font-size: var(--md-sys-typo-headline6-size);
  line-height: var(--md-sys-typo-headline6-line-height);
  letter-spacing: var(--md-sys-typo-headline6-tracking);
}

:host([title-medium]) {
  font-weight: var(--md-sys-typo-subhead1-weight);
  font-size: var(--md-sys-typo-subhead1-size);
  line-height: var(--md-sys-typo-subhead1-line-height);
  letter-spacing: var(--md-sys-typo-subhead1-tracking);
}

:host([title-small]) {
  font-weight: var(--md-sys-typo-subhead2-weight);
  font-size: var(--md-sys-typo-subhead2-size);
  line-height: var(--md-sys-typo-subhead2-line-height);
  letter-spacing: var(--md-sys-typo-subhead2-tracking);
}

:host([body-large]) {
  font-weight: var(--md-sys-typo-body1-weight);
  font-size: var(--md-sys-typo-body1-size);
  line-height: var(--md-sys-typo-body1-line-height);
  letter-spacing: var(--md-sys-typo-body1-tracking);
}

:host([body-medium]) {
  font-weight: var(--md-sys-typo-body2-weight);
  font-size: var(--md-sys-typo-body2-size);
  line-height: var(--md-sys-typo-body2-line-height);
  letter-spacing: var(--md-sys-typo-body2-tracking);
}

:host([body-small]) {
  font-weight: var(--md-sys-typo-caption-weight);
  font-size: var(--md-sys-typo-caption-size);
  line-height: var(--md-sys-typo-caption-line-height);
  letter-spacing: var(--md-sys-typo-caption-tracking);
}

:host([label-large]) {
  font-weight: var(--md-sys-typo-button-weight);
  font-size: var(--md-sys-typo-button-size);
  line-height: var(--md-sys-typo-button-line-height);
  letter-spacing: var(--md-sys-typo-button-tracking);
}

:host([label-medium]) {
  font-weight: var(--md-sys-typo-overline-weight);
  font-size: var(--md-sys-typo-overline-size);
  line-height: var(--md-sys-typo-overline-line-height);
  letter-spacing: var(--md-sys-typo-overline-tracking);
}
