:host {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  width: var(--md-icon-size, 1rem);
  height: var(--md-icon-size, 1rem);
}
slot {
  width: 100%;
  height: 100%;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: var(--md-icon-size, 1rem);
  line-height: 1;
  display: inline;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
}
.md3-icon,
.md3-icon__img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
