:host {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  --md-icon-size: 24px;
}

:host([disabled]) {
  pointer-events: none;
}

.md-icon-button {
  padding: 8px;
  position: relative;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--md-sys-color-on-surface-variant));
  background-color: transparent;
  border: 0;
  border-radius: 20px;
  outline: 0;
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
  overflow: visible;
  transition: 240ms cubic-bezier(0.4, 0, 0.2, 1);
  appearance: none;

  & * {
    pointer-events: none;
  }
}
.md-icon-button:disabled {
  color: rgba(var(--md-sys-color-on-surface), 0.38);
}
@import '../../scss-mixins/state-layer.scss';
@include state-layer('.md-icon-button', '240ms');

:host([filled]) .md-icon-button {
  color: rgb(var(--md-sys-color-on-primary));
  background: rgb(var(--md-sys-color-primary));
}
:host([tonal]) .md-icon-button {
  color: rgb(var(--md-sys-color-on-secondary));
  background: rgb(var(--md-sys-color-secondary));
}
:host([filled]) .md-icon-button:disabled,
:host([tonal]) .md-icon-button:disabled {
  color: rgba(var(--md-sys-color-on-surface), 0.38);
  background-color: rgba(var(--md-sys-color-on-surface), 0.12);
  cursor: default;
  box-shadow: none;
}

:host([outlined]) .md-icon-button {
  padding: 19px;
  background-color: rgb(var(--md-sys-color-surface));
  border: 1px solid rgb(var(--md-sys-color-outline));
}
:host([outlined]) .md-icon-button:active {
  border-color: rgb(var(--md-sys-color-outline));
}
:host([outlined]) .md-icon-button:disabled {
  color: rgba(var(--md-sys-color-on-surface), 0.38);
  border: 1px solid rgba(var(--md-sys-color-on-surface), 0.12);
}
:host([outlined]) md-ripple,
:host([outlined]) .md-icon-button::before {
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
}
