:host {
  display: flex;
  justify-content: center;
  align-items: center;
}
.md-dialog__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--md-sys-color-on-surface-variant), 0.32);
  transition: opacity 120ms cubic-bezier(0, 0, 0, 1);
  pointer-events: none;
  z-index: 12;
  opacity: 0;
}
:host([open]) .md-dialog__backdrop {
  pointer-events: auto;
  opacity: 1;
}
.md-dialog__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 12;
}
.md-dialog {
  padding: 0;
  width: min-content;
  min-width: 280px;
  max-width: 560px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(var(--md-sys-color-on-surface));
  background: var(--md-elevation-surface-3);
  border: none;
  border-radius: 28px;
  outline: 0;
  box-sizing: border-box;
  animation: out 120ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
  transform-origin: top center;
  will-change: opacity, transform;
  z-index: 12;
}
@keyframes in {
  0% {
    opacity: 0;
    transform: scaleY(0.4);
  }
  100% {
    transform: scaleY(1);
    pointer-events: all;
  }
}
@keyframes out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
:host([open]) .md-dialog {
  animation: in 360ms cubic-bezier(0, 0.2, 0, 1) forwards;
}
.md-dialog > * {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  box-sizing: border-box;
}
.md-dialog > *:last-child {
  padding-bottom: 24px;
}
:host(:not([hero-icon])) .md-dialog__hero-icon {
  display: none;
}
.md-dialog__hero-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(var(--md-sys-color-secondary));
  --md-icon-size: 24px;
}
.md-dialog__headline {
  color: rgb(var(--md-sys-color-on-surface));
}
:host(:not([headline])) .md-dialog__headline {
  display: none;
}
:host([hero-icon]) .md-dialog__headline {
  text-align: center;
  padding-top: 16px;
}
.md-dialog__body {
  color: rgb(var(--md-sys-color-on-surface-variant));
}
:host([headline]) .md-dialog__body {
  padding-top: 16px;
}
.md-dialog__actions {
  display: flex;
  justify-content: flex-end;
}
::slotted(md-button) {
  margin-left: 8px;
}
