:root {
  --md-sys-color-primary-light: 0, 108, 71;
  --md-sys-color-on-primary-light: 255, 255, 255;
  --md-sys-color-primary-container-light: 98, 253, 187;
  --md-sys-color-on-primary-container-light: 0, 33, 19;
  --md-sys-color-secondary-light: 77, 99, 87;
  --md-sys-color-on-secondary-light: 255, 255, 255;
  --md-sys-color-secondary-container-light: 208, 232, 216;
  --md-sys-color-on-secondary-container-light: 10, 31, 22;
  --md-sys-color-tertiary-light: 61, 100, 115;
  --md-sys-color-on-tertiary-light: 255, 255, 255;
  --md-sys-color-tertiary-container-light: 193, 233, 251;
  --md-sys-color-on-tertiary-container-light: 0, 31, 41;
  --md-sys-color-error-light: 186, 27, 27;
  --md-sys-color-on-error-light: 255, 255, 255;
  --md-sys-color-error-container-light: 255, 218, 212;
  --md-sys-color-on-error-container-light: 65, 0, 1;
  --md-sys-color-outline-light: 112, 121, 114;
  --md-sys-color-background-light: 251, 253, 248;
  --md-sys-color-on-background-light: 25, 28, 26;
  --md-sys-color-surface-light: 251, 253, 248;
  --md-sys-color-on-surface-light: 25, 28, 26;
  --md-sys-color-surface-variant-light: 220, 229, 221;
  --md-sys-color-on-surface-variant-light: 64, 73, 67;
  --md-sys-color-inverse-surface-light: 45, 49, 46;
  --md-sys-color-inverse-on-surface-light: 239, 241, 237;
  --md-sys-color-primary-dark: 62, 224, 161;
  --md-sys-color-on-primary-dark: 0, 56, 35;
  --md-sys-color-primary-container-dark: 0, 82, 53;
  --md-sys-color-on-primary-container-dark: 98, 253, 187;
  --md-sys-color-secondary-dark: 179, 204, 188;
  --md-sys-color-on-secondary-dark: 32, 53, 42;
  --md-sys-color-secondary-container-dark: 54, 75, 64;
  --md-sys-color-on-secondary-container-dark: 208, 232, 216;
  --md-sys-color-tertiary-dark: 165, 205, 222;
  --md-sys-color-on-tertiary-dark: 6, 53, 67;
  --md-sys-color-tertiary-container-dark: 36, 76, 90;
  --md-sys-color-on-tertiary-container-dark: 193, 233, 251;
  --md-sys-color-error-dark: 255, 180, 169;
  --md-sys-color-on-error-dark: 104, 0, 3;
  --md-sys-color-error-container-dark: 147, 0, 6;
  --md-sys-color-on-error-container-dark: 255, 218, 212;
  --md-sys-color-outline-dark: 138, 147, 140;
  --md-sys-color-background-dark: 25, 28, 26;
  --md-sys-color-on-background-dark: 225, 227, 223;
  --md-sys-color-surface-dark: 25, 28, 26;
  --md-sys-color-on-surface-dark: 225, 227, 223;
  --md-sys-color-surface-variant-dark: 64, 73, 67;
  --md-sys-color-on-surface-variant-dark: 191, 201, 193;
  --md-sys-color-inverse-surface-dark: 225, 227, 223;
  --md-sys-color-inverse-on-surface-dark: 25, 28, 26;

  --md-icon-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}

[lang='en'] [l]:not([l='en']) {
  display: none;
}
[lang='zh-CN'] [l]:not([l='zh-CN']) {
  display: none;
}
body {
  display: flex;
}
[rule='region'] > md-typo[bd-md] {
  text-align: center;
}
[color-primary] {
  color: rgb(var(--md-sys-color-tertiary));
  font-weight: 500;
}
kbd {
  padding: 0 2px;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--md-sys-elev-surface-1);
  box-shadow: var(--md-sys-elev-shadow-1);
  vertical-align: middle;
  border-radius: 4px;
}
aside {
  flex-shrink: 0;
  width: 280px;
  height: 100vh;
  overflow-y: auto;
  --md-button-width: 100%;
  --md-button-justify-content: flex-start;
}
aside nav {
  margin: 0;
  padding: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
aside nav:not(:first-child) {
  border-top: 1px solid rgb(var(--md-sys-color-outline));
}
aside .little-title {
  margin-top: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 18px;
  color: rgb(var(--md-sys-color-on-surface-variant));
  font-family: var(--md-sys-typo-overline-font);
  font-weight: var(--md-sys-typo-overline-weight);
  font-size: var(--md-sys-typo-overline-size);
  line-height: var(--md-sys-typo-overline-line-height);
  letter-spacing: var(--md-sys-typo-overline-tracking);
}
@media screen and (max-width: 599px) {
  aside {
    display: none;
  }
}
main {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: opacity 120ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-content {
  max-width: 1280px;
  margin: 0 auto;
  overflow: visible;
}
[rule='region'] {
  margin-top: 24px;
  margin-bottom: 24px;
}
.main-content > * {
  margin-left: 24px;
  margin-right: 24px;
}
flex-spacer {
  display: block;
  flex-shrink: 0;
  width: 100%;
  height: 0;
}
[demo-box] {
  margin: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 216px;
  height: 216px;
  background: var(--md-sys-elev-surface-2);
  box-shadow: var(--md-sys-elev-shadow-2);
  z-index: 1;
  user-select: none;
}
[e1] {
  background: var(--md-sys-elev-surface-1);
  box-shadow: var(--md-sys-elev-shadow-1);
}
[e2] {
  background: var(--md-sys-elev-surface-2);
  box-shadow: var(--md-sys-elev-shadow-2);
}
[e3] {
  background: var(--md-sys-elev-surface-3);
  box-shadow: var(--md-sys-elev-shadow-3);
}
[e4] {
  background: var(--md-sys-elev-surface-4);
  box-shadow: var(--md-sys-elev-shadow-4);
}
[e5] {
  background: var(--md-sys-elev-surface-5);
  box-shadow: var(--md-sys-elev-shadow-5);
}
[demo-rpl] {
  margin: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 216px;
  height: 216px;
  background: var(--md-sys-elev-surface-2);
  box-shadow: var(--md-sys-elev-shadow-2);
  border-radius: 16px;
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  z-index: 1;
  user-select: none;
  cursor: pointer;
}
[problem] {
  color: rgb(var(--md-sys-color-error));
}
