:root {
  --md-sys-color-primary-light: 156, 66, 52;
  --md-sys-color-on-primary-light: 255, 255, 255;
  --md-sys-color-primary-container-light: 255, 218, 210;
  --md-sys-color-on-primary-container-light: 65, 1, 0;
  --md-sys-color-secondary-light: 119, 87, 81;
  --md-sys-color-on-secondary-light: 255, 255, 255;
  --md-sys-color-secondary-container-light: 255, 218, 211;
  --md-sys-color-on-secondary-container-light: 45, 21, 17;
  --md-sys-color-tertiary-light: 111, 92, 46;
  --md-sys-color-on-tertiary-light: 255, 255, 255;
  --md-sys-color-tertiary-container-light: 251, 224, 166;
  --md-sys-color-on-tertiary-container-light: 38, 26, 0;
  --md-sys-color-error-light: 186, 27, 27;
  --md-sys-color-on-error-light: 255, 255, 255;
  --md-sys-color-error-container-light: 255, 218, 212;
  --md-sys-color-on-error-container-light: 65, 0, 1;
  --md-sys-color-outline-light: 133, 115, 112;
  --md-sys-color-background-light: 252, 252, 252;
  --md-sys-color-on-background-light: 32, 26, 25;
  --md-sys-color-surface-light: 252, 252, 252;
  --md-sys-color-on-surface-light: 32, 26, 25;
  --md-sys-color-surface-variant-light: 245, 222, 218;
  --md-sys-color-on-surface-variant-light: 83, 67, 65;
  --md-sys-color-inverse-surface-light: 54, 47, 46;
  --md-sys-color-inverse-on-surface-light: 251, 238, 235;
  --md-sys-color-primary-dark: 255, 180, 165;
  --md-sys-color-on-primary-dark: 95, 21, 12;
  --md-sys-color-primary-container-dark: 125, 43, 31;
  --md-sys-color-on-primary-container-dark: 255, 218, 210;
  --md-sys-color-secondary-dark: 231, 189, 181;
  --md-sys-color-on-secondary-dark: 68, 41, 36;
  --md-sys-color-secondary-container-dark: 93, 63, 58;
  --md-sys-color-on-secondary-container-dark: 255, 218, 211;
  --md-sys-color-tertiary-dark: 222, 196, 140;
  --md-sys-color-on-tertiary-dark: 61, 46, 4;
  --md-sys-color-tertiary-container-dark: 86, 69, 25;
  --md-sys-color-on-tertiary-container-dark: 251, 224, 166;
  --md-sys-color-error-dark: 255, 180, 169;
  --md-sys-color-on-error-dark: 104, 0, 3;
  --md-sys-color-error-container-dark: 147, 0, 6;
  --md-sys-color-on-error-container-dark: 255, 218, 212;
  --md-sys-color-outline-dark: 160, 140, 137;
  --md-sys-color-background-dark: 32, 26, 25;
  --md-sys-color-on-background-dark: 237, 224, 222;
  --md-sys-color-surface-dark: 32, 26, 25;
  --md-sys-color-on-surface-dark: 237, 224, 222;
  --md-sys-color-surface-variant-dark: 83, 67, 65;
  --md-sys-color-on-surface-variant-dark: 216, 194, 190;
  --md-sys-color-inverse-surface-dark: 237, 224, 222;
  --md-sys-color-inverse-on-surface-dark: 32, 26, 25;
}
