:root {
  --md-sys-color-primary-light: 0, 105, 116;
  --md-sys-color-on-primary-light: 255, 255, 255;
  --md-sys-color-primary-container-light: 135, 242, 255;
  --md-sys-color-on-primary-container-light: 0, 31, 35;
  --md-sys-color-secondary-light: 74, 99, 103;
  --md-sys-color-on-secondary-light: 255, 255, 255;
  --md-sys-color-secondary-container-light: 205, 231, 235;
  --md-sys-color-on-secondary-container-light: 5, 31, 34;
  --md-sys-color-tertiary-light: 82, 94, 125;
  --md-sys-color-on-tertiary-light: 255, 255, 255;
  --md-sys-color-tertiary-container-light: 216, 226, 255;
  --md-sys-color-on-tertiary-container-light: 13, 27, 54;
  --md-sys-color-error-light: 186, 27, 27;
  --md-sys-color-on-error-light: 255, 255, 255;
  --md-sys-color-error-container-light: 255, 218, 212;
  --md-sys-color-on-error-container-light: 65, 0, 1;
  --md-sys-color-outline-light: 111, 121, 123;
  --md-sys-color-background-light: 251, 253, 253;
  --md-sys-color-on-background-light: 25, 28, 29;
  --md-sys-color-surface-light: 251, 253, 253;
  --md-sys-color-on-surface-light: 25, 28, 29;
  --md-sys-color-surface-variant-light: 218, 228, 229;
  --md-sys-color-on-surface-variant-light: 63, 73, 74;
  --md-sys-color-inverse-surface-light: 46, 49, 49;
  --md-sys-color-inverse-on-surface-light: 239, 241, 241;
  --md-sys-color-primary-dark: 78, 216, 233;
  --md-sys-color-on-primary-dark: 0, 54, 60;
  --md-sys-color-primary-container-dark: 0, 79, 88;
  --md-sys-color-on-primary-container-dark: 135, 242, 255;
  --md-sys-color-secondary-dark: 177, 203, 207;
  --md-sys-color-on-secondary-dark: 28, 52, 56;
  --md-sys-color-secondary-container-dark: 51, 75, 79;
  --md-sys-color-on-secondary-container-dark: 205, 231, 235;
  --md-sys-color-tertiary-dark: 185, 198, 234;
  --md-sys-color-on-tertiary-dark: 35, 48, 77;
  --md-sys-color-tertiary-container-dark: 57, 70, 100;
  --md-sys-color-on-tertiary-container-dark: 216, 226, 255;
  --md-sys-color-error-dark: 255, 180, 169;
  --md-sys-color-on-error-dark: 104, 0, 3;
  --md-sys-color-error-container-dark: 147, 0, 6;
  --md-sys-color-on-error-container-dark: 255, 218, 212;
  --md-sys-color-outline-dark: 137, 147, 148;
  --md-sys-color-background-dark: 25, 28, 29;
  --md-sys-color-on-background-dark: 224, 227, 227;
  --md-sys-color-surface-dark: 25, 28, 29;
  --md-sys-color-on-surface-dark: 224, 227, 227;
  --md-sys-color-surface-variant-dark: 63, 73, 74;
  --md-sys-color-on-surface-variant-dark: 191, 200, 202;
  --md-sys-color-inverse-surface-dark: 224, 227, 227;
  --md-sys-color-inverse-on-surface-dark: 25, 28, 29;
}
