:root {
  --md-sys-color-primary-light: 0, 98, 162;
  --md-sys-color-on-primary-light: 255, 255, 255;
  --md-sys-color-primary-container-light: 207, 228, 255;
  --md-sys-color-on-primary-container-light: 0, 29, 54;
  --md-sys-color-secondary-light: 82, 95, 112;
  --md-sys-color-on-secondary-light: 255, 255, 255;
  --md-sys-color-secondary-container-light: 214, 228, 247;
  --md-sys-color-on-secondary-container-light: 15, 29, 42;
  --md-sys-color-tertiary-light: 106, 87, 121;
  --md-sys-color-on-tertiary-light: 255, 255, 255;
  --md-sys-color-tertiary-container-light: 242, 218, 255;
  --md-sys-color-on-tertiary-container-light: 36, 20, 50;
  --md-sys-color-error-light: 186, 27, 27;
  --md-sys-color-on-error-light: 255, 255, 255;
  --md-sys-color-error-container-light: 255, 218, 212;
  --md-sys-color-on-error-container-light: 65, 0, 1;
  --md-sys-color-outline-light: 115, 119, 127;
  --md-sys-color-background-light: 253, 252, 255;
  --md-sys-color-on-background-light: 26, 28, 30;
  --md-sys-color-surface-light: 253, 252, 255;
  --md-sys-color-on-surface-light: 26, 28, 30;
  --md-sys-color-surface-variant-light: 223, 227, 236;
  --md-sys-color-on-surface-variant-light: 66, 71, 78;
  --md-sys-color-inverse-surface-light: 47, 48, 51;
  --md-sys-color-inverse-on-surface-light: 241, 240, 244;
  --md-sys-color-primary-dark: 154, 202, 255;
  --md-sys-color-on-primary-dark: 0, 50, 87;
  --md-sys-color-primary-container-dark: 0, 73, 124;
  --md-sys-color-on-primary-container-dark: 207, 228, 255;
  --md-sys-color-secondary-dark: 186, 200, 219;
  --md-sys-color-on-secondary-dark: 36, 49, 64;
  --md-sys-color-secondary-container-dark: 59, 72, 87;
  --md-sys-color-on-secondary-container-dark: 214, 228, 247;
  --md-sys-color-tertiary-dark: 213, 190, 229;
  --md-sys-color-on-tertiary-dark: 58, 42, 72;
  --md-sys-color-tertiary-container-dark: 82, 64, 96;
  --md-sys-color-on-tertiary-container-dark: 242, 218, 255;
  --md-sys-color-error-dark: 255, 180, 169;
  --md-sys-color-on-error-dark: 104, 0, 3;
  --md-sys-color-error-container-dark: 147, 0, 6;
  --md-sys-color-on-error-container-dark: 255, 218, 212;
  --md-sys-color-outline-dark: 140, 145, 153;
  --md-sys-color-background-dark: 26, 28, 30;
  --md-sys-color-on-background-dark: 226, 226, 230;
  --md-sys-color-surface-dark: 26, 28, 30;
  --md-sys-color-on-surface-dark: 226, 226, 230;
  --md-sys-color-surface-variant-dark: 66, 71, 78;
  --md-sys-color-on-surface-variant-dark: 195, 199, 207;
  --md-sys-color-inverse-surface-dark: 226, 226, 230;
  --md-sys-color-inverse-on-surface-dark: 26, 28, 30;
}
