:host {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  appearance: none;
}

.md-text-field {
  position: relative;
  height: 56px;
  background-color: rgb(var(--md-sys-color-surface-variant));
  border-radius: 4px 4px 0 0;
  box-sizing: border-box;
  cursor: text;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: currentColor;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 180ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
  }
}
@media screen and (min-width: 1240px) {
  .md-text-field:hover::before {
    opacity: 0.08;
  }
}
:host(.focus-visible) .md-text-field::before {
  opacity: 0.12;
}
.md-text-field__label {
  position: absolute;
  color: rgb(var(--md-sys-color-on-surface-variant));
  font-family: var(--md-sys-typescale-body1-font);
  font-weight: var(--md-sys-typescale-body1-weight);
  font-size: var(--md-sys-typescale-body1-size);
  line-height: var(--md-sys-typescale-body1-line-height);
  letter-spacing: var(--md-sys-typescale-body1-tracking);
  transform-origin: top left;
  transform: translate(12px, 16px) scale(1);
  transition: 180ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  user-select: none;
}
.md-text-field--focused .md-text-field__label,
.md-text-field--keep .md-text-field__label {
  transform: translate(12px, 7px) scale(0.75);
}
.md-text-field__input {
  padding: 25px 12px 8px;
  width: 100%;
  color: rgb(var(--md-sys-color-on-surface));
  font-family: var(--md-sys-typescale-body1-font);
  font-weight: var(--md-sys-typescale-body1-weight);
  font-size: var(--md-sys-typescale-body1-size);
  line-height: var(--md-sys-typescale-body1-line-height);
  letter-spacing: var(--md-sys-typescale-body1-tracking);
  background-color: transparent;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
.md-text-field__underline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid rgb(var(--md-sys-color-on-surface-variant));
  transition: 180ms cubic-bezier(0.4, 0, 0.2, 1) border-bottom-color;
  pointer-events: none;
}
.md-text-field:hover .md-text-field__underline {
  border-bottom-color: rgb(var(--md-sys-color-on-surface));
}
.md-text-field__underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  border-bottom: 2px solid rgb(var(--md-sys-color-primary));
  transform: scaleX(0);
  transition: 180ms cubic-bezier(0.4, 0, 0.2, 1) transform;
}
.md-text-field--focused .md-text-field__underline::after {
  transform: scaleX(1);
}
.md-text-field__help-text {
  flex-shrink: 0;
  margin: 3px 14px 0px;
  color: rgb(var(--md-sys-color-on-surface-variant));
  font-family: var(--md-sys-typescale-caption-font);
  font-weight: var(--md-sys-typescale-caption-weight);
  font-size: var(--md-sys-typescale-caption-size);
  line-height: var(--md-sys-typescale-caption-line-height);
  letter-spacing: var(--md-sys-typescale-caption-tracking);
}
:host(:not([help-text])) .md-text-field__help-text {
  display: none;
}
:host([outlined]) .md-text-field {
  background-color: transparent;
  border-radius: 4px;

  &::before {
    display: none;
  }
}
:host([outlined]) .md-text-field__input {
  padding: 15.5px 15px;
}
.md-text-field__border {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2px);
  height: 100%;
  padding: 0 6px;
  border-radius: inherit;
  border: 1px solid rgb(var(--md-sys-color-outline));
  pointer-events: none;
  box-sizing: border-box;
}
.md-text-field:hover .md-text-field__border {
  border-color: rgb(var(--md-sys-color-on-surface));
}
.md-text-field--focused .md-text-field__border {
  border-width: 2px;
  border-color: rgb(var(--md-sys-color-primary)) !important;
}
.md-text-field__label-keeper {
  display: none;
  padding: 0 5px;
  color: transparent;
  font-family: var(--md-sys-typescale-overline-font);
  font-weight: var(--md-sys-typescale-overline-weight);
  font-size: var(--md-sys-typescale-overline-size);
  line-height: var(--md-sys-typescale-overline-line-height);
  letter-spacing: var(--md-sys-typescale-overline-tracking);
  pointer-events: none;
  user-select: none;
}
.md-text-field--keep,
.md-text-field--focused {
  & .md-text-field__border {
    margin-top: -0.5em;
    height: calc(100% + 0.5em);
  }
  & .md-text-field__label-keeper {
    display: initial !important;
  }
}
.md-text-field--focused {
  & .md-text-field__label {
    color: rgb(var(--md-sys-color-primary));
  }
}
:host([outlined]) .md-text-field__label {
  transform: translate(15px, 16px) scale(1);
}
:host([outlined]) .md-text-field--focused .md-text-field__label,
:host([outlined]) .md-text-field--keep .md-text-field__label {
  transform: translate(15px, calc(-0.5em - 1px)) scale(0.75);
}
