.md-slider__input {
  position: absolute;
  top: 0;
  margin: 0;
  height: 100%;
  cursor: pointer;
  // opacity: 0;

  &.start {
    left: -8px;
    width: calc(var(--md-slider-width-start) + 16px);
    z-index: 0;
  }
  &.end {
    right: -8px;
    width: calc(var(--md-slider-width-end) + 16px);
    z-index: 1;
  }
}
