:host(:hover) {
  .md-slider__thumb::before {
    opacity: 0.08;
  }
}
:host(.focus-visible) {
  .md-slider__thumb::before {
    opacity: 0.12;
  }
}
:host(:active) {
  .md-slider__thumb::before {
    transform: scale(1);
  }
}

.md-slider__input {
  position: absolute;
  top: 0;
  left: -8px;
  margin: 0;
  width: calc(100% + 16px);
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
